
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<EcommerceAdmin.Models.Entity.Ent_Product> listProduct = ViewBag.listProduct;
    List<EcommerceAdmin.Models.Entity.Ent_Category> listCategory = ViewBag.listCategory;
    List<EcommerceAdmin.Models.Entity.Ent_SubCategory> listSubCategory = ViewBag.listSubCategory;
    List<EcommerceAdmin.Models.Entity.Ent_Brand> listBrand = ViewBag.listBrand;
    var i = 0;
}
<script src="../../Scripts/ajax/product.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        PRODUCTS LIST

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="#">Tables</a></li>*@
        <li class="active">Products List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">

                    <div class="col-sm-12">
                        <div class="form-group col-sm-3">
                            <label>Category</label>
                            <select class="form-control " id="Categoryy" onchange="">
                                <option value="all">ALL</option>
                                @foreach (var item in listCategory)
                                {
                                    <option value="@item.Category_ID" >@item.Category_Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Sub Category</label>
                            <select class="form-control " id="SubCategory" onchange="">
                                <option value="all">ALL</option>
                                @foreach (var item in listSubCategory)
                                {
                                    <option value="@item.Category_ID">@item.Category_Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Brand</label>
                            <select class="form-control " id="Brand"  onchange="">
                                <option value="all">ALL</option>
                                @foreach (var item in listBrand)
                                {
                                    <option value="@item.Brand_ID">@item.Brand_Name</option>
                                }
                            </select>
                        </div>
                        <a href="/Product/AddProduct" class="btn btn-info" style="float:right">+New</a>
                    </div>

                    @*<h3 class="box-title">Products</h3>*@
                   
                </div>
                
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dtProduct" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Brand</th>
                                <th style="width:80px;">Action</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listProduct)
                            {
                                i++;
                            <tr id="@item.Product_ID" class="content">
                                <td>@i</td>
                                <td>@item.Product_Name</td>
                                <td>@item.entCategory.Category_Name</td>
                                <td>@item.SubCategory_Name</td>
                                <td>@item.Brand_Name</td>
                                <td>
                                    <div class="tools">
                                        <a href="/Product/AddProduct?ProductId=@item.Product_ID">  <i class="fa fa-edit"></i></a>
                                        <a href="" class="btnDeleteProduct">  <i class="fa fa-trash-o"></i></a>
                                        <input type="hidden" value="@item.Product_ID" />
                                    </div>
                                </td>                            
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
                <!-- /.box -->
            </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">

    //Category Change
    $('#Categoryy').change(function () {

        $('#SubCategory').empty();

        var Category = $(this).val();

        $.ajax({
            type: "POST",
            url: "/Category/SelectSubCategory",
            data: "{'Category':'" + Category + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var txt = "";
                if (Object.keys(data).length > 0) {
                    $.each(data, function (index, dbval) {
                        txt = "<option value='" + dbval.Category_ID + "'>" + dbval.Category_Name + "</option>";
                        $('#SubCategory').append(txt);
                    });
                }
                else {
                    $('#SubCategory').empty();
                    var txt1 = "<option value=''>ALL</option>";
                    $('#SubCategory').append(txt1);
                }

            },
            error: function () {
                $('#SubCategory').empty();
                var txt1 = "<option value=''>ALL</option>";
                $('#SubCategory').append(txt1);
            }
        });
    });


    $(document).ready(function () {
        $("#Categoryy,#SubCategory").on("change", function () {
            var Category = $('#Categoryy').find("option:selected").text();
            var SubCategory = $('#SubCategory').find("option:selected").text();
            SearchData(Category, SubCategory)
        });
    });
    function SearchData(Category, SubCategory) {
        console.log(SubCategory);
        console.log(55);
        if (Category.toUpperCase() == 'ALL' && SubCategory.toUpperCase() == 'ALL') {
            $('#dtProduct tbody tr').show();
        } else {
            $('#dtProduct tbody tr:has(td)').each(function () {
                var rowCountry = $.trim($(this).find('td:eq(2)').text());
              
                var rowAge = $.trim($(this).find('td:eq(3)').text());
              
                if (Category.toUpperCase() != 'ALL' && SubCategory.toUpperCase() != 'ALL') {
                    console.log(rowCountry.toUpperCase());
                    console.log(Category.toUpperCase());
                    console.log(rowAge);
                    console.log(SubCategory);
                    if (rowCountry.toUpperCase() == Category.toUpperCase() && rowAge == SubCategory) {
                        $(this).show();
                    } else {
                        console.log(1);
                        $(this).hide();
                    }
                } else if ($(this).find('td:eq(2)').text() != '' || $(this).find('td:eq(2)').text() != '') {
                    if (Category != 'all') {
                        if (rowCountry.toUpperCase() == Category.toUpperCase()) {
                            $(this).show();
                        } else {
                            console.log(2);
                            $(this).hide();
                        }
                    }
                    if (SubCategory != 'all') {
                        if (rowAge == SubCategory) {
                            $(this).show();
                        }
                        else {
                            console.log(3);
                            $(this).hide();
                        }
                    }
                }

            });
        }
    }
</script>

<script>



    //function FilterCategory() {
    //    var rex = new RegExp($('#Category').val());
    //    if (rex == "/all/") { clearFilter() } else {
    //        $('.content').hide();
    //        $('.content').filter(function () {
    //            return rex.test($(this).text());
    //        }).show();
    //    }
    //}

    //function FilterSubCategory() {
    //    var rex = new RegExp($('#SubCategory').val());
    //    console.log(rex);
    //    if (rex == "/all/") { clearFilter() } else {
    //        $('.content').hide();
    //        $('.content').filter(function () {
    //            return rex.test($(this).text());
    //        }).show();
    //    }
    //}

    //function FilterBrand() {
    //    var rex = new RegExp($('#Brand').val());
    //    if (rex == "/all/") { clearFilter() } else {
    //        $('.content').hide();
    //        $('.content').filter(function () {
    //            return rex.test($(this).text());
    //        }).show();
    //    }
    //}

    //function clearFilter() {
    //    //$('.filterText').val('');
    //    $('.content').show();
    //}

    $(function () {
        $("#dtProduct").DataTable();
    });


</script>

<script>
    $('li#masters').addClass('active');
</script>
