@model EcommerceAdmin.Models.Entity.Ent_Order
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<EcommerceAdmin.Models.Entity.Ent_OrderDetail> OrderList = ViewBag.OrderList;
    var i = 0;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Order ID:
        <small>@Model.Order_ID</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin/OrderList">Orders</a></li>
        <li class="active">Order Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="invoice">
    @*<!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> AdminLTE, Inc.
                <small class="pull-right">Date: 2/10/2014</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>*@
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>@Model.entGuest.Guest_Email</strong><br>
                Address1: @Model.entGuest.Guest_Address1<br>
                Address2: @Model.entGuest.Guest_Address2<br>
                Phone: @Model.entGuest.Guest_Phone<br>
                Email: @Model.entGuest.Guest_Email
            </address>
        </div>
        <!-- /.col -->
        @*<div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>John Doe</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                Phone: (555) 539-1037<br>
                Email: john.doe@example.com
            </address>
        </div>*@
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Order ID @Model.Order_ID</b><br>
            <br>
            <b>Date:</b> @Model.Created_Date<br>
            @*<b>Payment Due:</b> 2/22/2014<br>*@
            @*<b>Account:</b> 968-34567*@
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>                     
                        <th>Qty</th>
                        <th>Product</th>
                        @*<th>Status</th>*@
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in OrderList)
                    {
                        i++;
                        <tr>
                            <td>@items.Quantity</td>
                            <td>@items.Product_Name</td>                          
                            @*<td>El snort testosterone trophy driving gloves handsome</td>*@
                            <td>AED @items.Product_Total</td>
                        </tr>
                    }
                    </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Order Status:</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Order Received:</th>
                        <td>@Model.Created_Date</td>
                    </tr>
                  
                    <tr>
                        <th>Order Shipped:</th>
                        <td>@Model.Order_Shipping</td>
                    </tr>
                    <tr>
                        <th>Order Delivered:</th>
                        <td>@Model.Order_Total</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>AED @Model.Order_SubTotal</td>
                    </tr>
                    @*<tr>
                        <th>Tax (9.3%)</th>
                        <td>$10.34</td>
                    </tr>*@
                    <tr>
                        <th>Shipping:</th>
                        <td>AED @Model.Order_Shipping</td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td>AED @Model.Order_Total</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label>Update Order Status</label>
          
            <select class="form-control pull-right " id="Brand">       
                <option value="1">RECEIVED</option>
                <option value="2">SHIPPED</option>
                <option value="3">DELIVERED</option>
                <option value="4">RETURNED</option>
                <option value="5">CANCELLED</option>
            </select>
        </div>
        </div>
        <!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                @*<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>*@
                <button type="button" class="btn btn-success pull-right">
                    <i class="fa fa-credit-card"></i>  Update
                </button>

            </div>
        </div>
</section>
<!-- /.content -->
