@model EcommerceAdmin.Models.Entity.Ent_Guest
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .inputValid {
        color: #dd4b39;
    }
</style>
<script src="~/Scripts/ajax/checkout.js"></script>
<script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.6.0/js/gosell.js"></script>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home/Index">home</a></li>
                        <li>Checkout</li>
                    </ul>
                    <span style="margin:auto; display:table;color:deeppink;font-size:large" id="spanMsg">
                      
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="Checkout_section mt-32">
    <div class="container">
     
        <div class="checkout_form">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Shipping Details</h3>
                        <div class="row">

                            <div class="col-lg-6 mb-20">
                                <label>First Name <span>*</span></label>
                                <input type="text" id="FName" value="@Model.entGuestAddress.First_Name">
                                <span class="help-block inputValid" id="validFName"></span>
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label>Last Name <span>*</span></label>
                                <input type="text" id="LName" value="@Model.entGuestAddress.Last_Name">
                                <span class="help-block inputValid" id="validLName"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <label for="country">country <span>*</span></label>
                                <select class="niceselect_option" name="cuntry" id="Country">
                                    <option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>
                                </select>
                            </div>

                            <div class="col-12 mb-20">
                                <label>Street address <span>*</span></label>
                                <input placeholder="House number and street name" type="text" id="Address1" value="@Model.entGuestAddress.Guest_Address1">
                                <span class="help-block inputValid" id="validAddress1"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text" id="Address2" value="@Model.entGuestAddress.Guest_Address2">
                                <span class="help-block inputValid" id="validAddress2"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <label>Town / City <span>*</span></label>
                                <input type="text" id="Town" value="@Model.entGuestAddress.Guest_Town">
                                <span class="help-block inputValid" id="validTown"></span>
                            </div>
                            <div class="col-12 mb-20">
                                <label>State<span>*</span></label>
                                <input type="text" id="State" value="@Model.entGuestAddress.Guest_State">
                                <span class="help-block inputValid" id="validState"></span>
                            </div>
                            @if (Model.Guest_ID == 0)
                            {
                                <div class="col-lg-6 mb-20">
                                    <label>Phone<span>*</span></label>
                                    <input type="text" id="Phone" value="@Model.Guest_Phone">
                                    <span class="help-block inputValid" id="validPhone"></span>

                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label> Email Address <span>*</span></label>
                                    <input type="text" id="Email" value="@Model.Guest_Email">
                                    <span class="help-block inputValid" id="validEmail"></span>
                                </div>
                            }
                            else
                          {
                            <div class="col-lg-6 mb-20" style="display:none;">
                                <label>Phone<span>*</span></label>
                                <input type="text" id="Phone" value="@Model.Guest_Phone">
                                <span class="help-block inputValid" id="validPhone"></span>

                            </div>
                            <div class="col-lg-6 mb-20" style="display:none;">
                                <label> Email Address <span>*</span></label>
                                <input type="text" id="Email" value="@Model.Guest_Email">
                                <span class="help-block inputValid" id="validEmail"></span>
                            </div>
                        }
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive" style="overflow-x:hidden">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tblItemsBody">
                                    @if (Session["Cart"] != null)
                                    {
                                        foreach (var items in (List<EcommerceAdmin.Models.Entity.Ent_OrderDetail>)Session["Cart"])
                                        {
                                            <tr class="tblRow">
                                                <td> @items.Product_Name <strong> × @items.Quantity</strong></td>
                                                <td> AED @items.Product_Total</td>
                                                <td hidden class="id">@items.Product_ID</td>
                                                <td hidden class="name">@items.Product_Name</td>
                                                <td hidden class="quantity">@items.Quantity</td>
                                                <td hidden class="price">@items.Product_Price</td>
                                                <td hidden class="total">@items.Product_Total</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td id="SubTotal">AED @Session["SubTotal"]</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td id="Shipping"><strong>AED 0.00</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Order Total</th>
                                        <td id="Total"><strong>AED @Session["Total"]</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div> @if (Session["Cart"] != null)
                        {
                            <div class="payment_method">
                                <h3>PAYMENT OPTION</h3>
                                <div class="panel-default">
                                    <input id="cod" name="check_method" value="cod" type="radio" data-target="createp_account" />
                                    <label for="payment" data-toggle="collapse" data-target="#method" aria-controls="method">Cash On Delivery</label>


                                </div>

                                <div class="panel-default">
                                    <input id="online" checked name="check_method" value="online" type="radio" data-target="createp_account" />
                                    <label for="payment_defult" data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">Online Payment  <img src="../../assetsclient/img/icon/papyel.png" alt=""></label>

                                </div>

                                <div class="order_button">
                                    <button id="checkoutBtn" onclick="SaveOrder()" type="button">CONFIRM ORDER</button>
                                    <input type="hidden" id="amount" name="amount" value="@Session["Total"]" />


                                </div>
                               
                                @*<div id="root"></div>
                <button id="openLightBox" onclick="goSell.openLightBox()">open goSell LightBox</button>
                <button id="openPage" onclick="goSell.openPaymentPage()">open goSell Page</button>*@
                            </div> }
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Checkout page section end-->
<script>
    function ValidateEmail(inputText) {
        var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (!inputText.match(mailformat)) {
            return (true)
        }
        else {
            return (false)
        }
    }

    function phonenumber(inputtxt) {
        var phone = /^(?:\+971|00971|0)(?:2|3|4|6|7|9|50|51|52|55|56)[0-9]{7}$/;

        if (!inputtxt.match(phone)) {
            return (true);
        }
        else {
            return false;
        }

    }

    function Validate() {
        var flag = true;
        $(".inputValid").html("");

        var FName = $('#FName').val();
        var LName = $('#LName').val();
        var Address1 = $('#Address1').val();
        var Address2 = $('#Address2').val();
        var Town = $('#Town').val();
        var State = $('#State').val();
        var Email = $('#Email').val();
        var Phone = $('#Phone').val();

        if (FName == null || FName.trim() == "") {
            $("#validFName").html("This field is required.");
            flag = false;
        }
        if (LName == null || LName.trim() == "") {
            $("#validLName").html("This field is required.");
            flag = false;
        }
        if (Address1 == null || Address1.trim() == "") {
            $("#validAddress1").html("This field is required.");
            flag = false;
        }
        if (Address2 == null || Address2.trim() == "") {
            $("#validAddress2").html("This field is required.");
            flag = false;
        }
        if (Town == null || Town.trim() == "") {
            $("#validTown").html("This field is required.");
            flag = false;
        }
        if (State == null || State.trim() == "") {
            $("#validState").html("This field is required.");
            flag = false;
        }
      
        if (ValidateEmail(Email)) {
            $("#validEmail").html("Enter a Valid Email Id.");
            flag = false;
        }
        //if (phonenumber(Phone)) {
        //    $("#validPhone").html("Enter a Valid Mobile No.");
        //    flag = false;
        //}
        if (Phone == null || Phone.trim() == "") {
            $("#validPhone").html("Enter a Valid Mobile No.");
            flag = false;
        }
      
        return flag;
    }



    function SaveOrder() {  
        //$('#clientloader').css("display", "block");
        if (Validate() == true) {
            var FName = $('#FName').val();
            var LName = $('#LName').val();
            var Address1 = $('#Address1').val();
            var Address2 = $('#Address2').val();
            var Town = $('#Town').val();
            var State = $('#State').val();
            var Country = $('#Country').val();
            var Email = $('#Email').val();
            var Phone = $('#Phone').val();
            var payment = $('input[name=check_method]:checked').val();
           
            var data = new FormData();
            data.append("Shipping_FirstName", FName);
            data.append("Shipping_LastName", LName);
            data.append("Shipping_Address1", Address1);
            data.append("Shipping_Address2", Address2);
            data.append("Shipping_Town", Town);
            data.append("Shipping_State", State);
            data.append("Shipping_Country", Country);
            data.append("Shipping_Email", Email);
            data.append("Shipping_Phone", Phone);
            if (payment == "cod")
                data.append("Payment_COD", 1);
            else
                data.append("Payment_COD",0);

            $.ajax({
                type: "POST",
                url: "/Order/SaveOrder",
                data: data,
                contentType: false,
                processData: false,
                //async: false,
                dataType: "json",
                beforeSend: function () { $('#clientloader').css("display", "block") },
                complete: function () { $('#clientloader').css("display", "none") },
                success: OnSuccessSaveCall,
                error: OnErrorSaveCall
            });

            function OnSuccessSaveCall(data) {
                if (data > "0") {
                    if (payment == "cod")
                    {
                        if (@Model.Guest_ID> 0)
                        {                            
                            //$('#clientloader').css("display", "none");
                            $('#spanMsg').html("Your Order Placed Successfully !");
                            $(window) .scrollTop(0);
                            location.href = "/Login/MyAccount";
                        }
                        else {
                            //$('#clientloader').css("display", "none");
                            $('#spanMsg').html("Your Order Placed Successfully");
                            $(window).scrollTop(0);
                           
                        }
                    }
                    else {
                        save(data);
                    }
                }
                else {
                    alert("An error occured while processing your request");
                } 

            }

            function OnErrorSaveCall() {
                alert("An error occured while processing your request");
             

            }
        }
        else {
            $(window).scrollTop(0);
        }
    }
    function save(OrderId) {
      
            var ItemList = new Array();
            $("#tblItemsBody .tblRow").each(function () {
                var itemModel = new Object();
                itemModel.id = $(this).find(".id").html();
                itemModel.name = $(this).find(".name").html();
                itemModel.description = "";
                itemModel.old_quantity = 0;
                itemModel.quantity = $(this).find(".quantity").html();
                itemModel.amount_per_unit = $(this).find(".price").html();
                itemModel.old_total_amount = 0;
                itemModel.total_amount = $(this).find(".total").html();
                ItemList.push(itemModel);
            });

            const button = document.getElementById('checkoutBtn');
            button.disabled = true;
            goSell.config({
                gateway: {
                    //publicKey: "pk_test_Vlk842B1EA7tDN5QbrfGjYzh",
                    publicKey: "pk_test_mrgWT9Hx0yRsIk5LJNVc478B",
                    //merchant_id: "1124340",
                    merchant_id: null,
                    language: "en",
                    contactInfo: false,
                    supportedCurrencies: "all",
                    supportedPaymentMethods: "all",
                    saveCardOption: true,
                    customerCards: true,
                    notifications: "standard",
                    callback: (response) => {
                        console.log("callback", response);
                    },
                    onClose: () => {
                        console.log("onclose hey");
                    },
                    onLoad: () => {
                        console.log("onLoad");
                        goSell.openLightBox();
                    },
                    style: {
                        base: {
                            color: "red",
                            lineHeight: "10px",
                            fontFamily: "sans-serif",
                            fontSmoothing: "antialiased",
                            fontSize: "10px",
                            "::placeholder": {
                                color: "rgba(0, 0, 0, 0.26)",
                                fontSize: "10px",
                            },
                        },
                        invalid: {
                            color: "red",
                            iconColor: "#fa755a ",
                        },
                    },
                },
                customer: {
                    first_name: document.getElementById('FName').value,
                    middle_name: "",
                    last_name: document.getElementById('LName').value,
                    email: document.getElementById('Email').value,
                    phone: {
                        country_code: "+971",
                        number: document.getElementById('Phone').value,
                    },
                },
                order: {
                    //amount: document.getElementById('amount').value,
                    amount: 1,
                    currency: "AED",
                    items: ItemList,
                },
                transaction: {
                    mode: "charge",
                    charge: {           
                        auto: {
                            time: 100,
                            type: "VOID",
                        },
                        saveCard: false,
                        threeDSecure: true,
                        description: "description",
                        statement_descriptor: "statement_descriptor",
                        reference: {
                            transaction: "txn_" + OrderId,
                            order: OrderId,
                        },
                        metadata: {},
                        receipt: {
                            email: false,
                            sms: true,
                        },
                        redirect: "https://acsadmin.atintellilabs.live/Order/Payment?Id="+ OrderId +"",
                        //redirect: "http://localhost:20196/Order/Payment?Id="+ OrderId +"",
                        post: null,
                    }
                },
            });
      
    }
    </script>