@model EcommerceAdmin.Models.Entity.Ent_Guest
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<script src="~/Scripts/ajax/checkout.js"></script>
<script type="text/javascript" src="https://goSellJSLib.b-cdn.net/v1.6.0/js/gosell.js"></script>
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="Checkout_section mt-32">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="user-actions">
                    @*<h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">Click here to login</a>

                        </h3>*@
                    <div id="checkout_login" class="collapse" data-parent="#accordion">
                        <div class="checkout_info">
                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                            <form action="#">
                                <div class="form_group">
                                    <label>Username or email <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="form_group">
                                    <label>Password <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="form_group group_3 ">
                                    <button type="submit">Login</button>
                                    <label for="remember_box">
                                        <input id="remember_box" type="checkbox">
                                        <span> Remember me </span>
                                    </label>
                                </div>
                                <a href="#">Lost your password?</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="user-actions">
                    @*<h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>

                        </h3>*@
                    <div id="checkout_coupon" class="collapse" data-parent="#accordion">
                        <div class="checkout_info">
                            <form action="#">
                                <input placeholder="Coupon code" type="text">
                                <button type="submit">Apply coupon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout_form">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Billing Details</h3>
                        <div class="row">

                            <div class="col-lg-6 mb-20">
                                <label>First Name <span>*</span></label>
                                <input type="text" id="FName" value="@Model.Guest_FirstName">
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label>Last Name <span>*</span></label>
                                <input type="text" id="LName" value="@Model.Guest_LastName">
                            </div>
                            <div class="col-12 mb-20">
                                <label for="country">country <span>*</span></label>
                                <select class="niceselect_option" name="cuntry" id="Country">
                                    <option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>
                                </select>
                            </div>

                            <div class="col-12 mb-20">
                                <label>Street address <span>*</span></label>
                                <input placeholder="House number and street name" type="text" id="Address1" value="@Model.Guest_Address1">
                            </div>
                            <div class="col-12 mb-20">
                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text" id="Address2" value="@Model.Guest_Address2">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Town / City <span>*</span></label>
                                <input type="text" id="Town" value="@Model.Guest_Town">
                            </div>
                            <div class="col-12 mb-20">
                                <label>State / County <span>*</span></label>
                                <input type="text" id="State" value="@Model.Guest_State">
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label>Phone<span>*</span></label>
                                <input type="text" id="Phone" value="@Model.Guest_Phone">

                            </div>
                            <div class="col-lg-6 mb-20">
                                <label> Email Address <span>*</span></label>
                                <input type="text" id="Email" value="@Model.Guest_Email">
                            </div>
                            <div class="col-12 mb-20">
                                <div id="collapseOne" class="collapse one" data-parent="#accordion">
                                    <div class="card-body1">
                                        <label> Account password <span>*</span></label>
                                        <input placeholder="password" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="order-notes">
                                    <label for="order_note">Order Notes</label>
                                    <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Your order</h3>
                        <div class="order_table table-responsive" style="overflow-x:hidden">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tblItemsBody">
                                    @if (Session["Cart"] != null)
                                    {
                                        foreach (var items in (List<EcommerceAdmin.Models.Entity.Ent_OrderDetail>)Session["Cart"])
                                        {
                                            <tr class="tblRow">
                                                <td> @items.Product_Name <strong> × @items.Quantity</strong></td>
                                                <td> AED @items.Product_Total</td>
                                                <td hidden class="id">@items.Product_ID</td>
                                                <td hidden class="name">@items.Product_Name</td>
                                                <td hidden class="quantity">@items.Quantity</td>
                                                <td hidden class="price">@items.Product_Price</td>
                                                <td hidden class="total">@items.Product_Total</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td id="SubTotal">AED @Session["SubTotal"]</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td id="Shipping"><strong>AED 0.00</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Order Total</th>
                                        <td id="Total"><strong>AED @Session["Total"]</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            @*<div class="panel-default">
                                    <input id="payment" name="check_method" type="radio" data-target="createp_account" />
                                    <label for="payment" data-toggle="collapse" data-target="#method" aria-controls="method">Create an account?</label>

                                    <div id="method" class="collapse one" data-parent="#accordion">
                                        <div class="card-body1">
                                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="panel-default">

                                <label for="payment_defult" data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">Tap Payment  <img src="../../assetsclient/img/icon/papyel.png" alt=""></label>

                                <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                    <div class="card-body1">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="order_button">
                                <button id="checkoutBtn" onclick="SaveOrder()">Proceed to Payment</button>
                                <input type="hidden" id="amount" name="amount" value="@Session["Total"]" />


                            </div>
                            @*<div id="root"></div>
                            <button id="openLightBox" onclick="goSell.openLightBox()">open goSell LightBox</button>
                            <button id="openPage" onclick="goSell.openPaymentPage()">open goSell Page</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Checkout page section end-->
<script>
    function  SaveOrder() {
        var FName = $('#FName').val();
        var LName = $('#LName').val();
        var Address1 = $('#Address1').val();
        var Address2 = $('#Address2').val();
        var Town = $('#Town').val();
        var State = $('#State').val();
        var Country = $('#Country').val();
        var Email = $('#Email').val();
        var Phone = $('#Phone').val();

        var data = new FormData();
        data.append("Guest_FirstName", FName);
        data.append("Guest_LastName", LName);
        data.append("Guest_Address1", Address1);
        data.append("Guest_Address2", Address2);
        data.append("Guest_Town", Town);
        data.append("Guest_State", State);
        data.append("Guest_Country", Country);
        data.append("Guest_Email", Email);
        data.append("Guest_Phone", Phone);

        $.ajax({
            type: "POST",
            url: "/Order/SaveOrder",
            data: data,
            contentType: false,
            processData: false,
            async: false,
            dataType: "json",
            beforeSend: function () { $('#loader').css("display", "block") },
            complete: function () { $('#loader').css("display", "none") },
            success: OnSuccessSaveCall,
            error: OnErrorSaveCall
        });

        function OnSuccessSaveCall(data) {
            if (data > "0") {
                console.log(data);
                save(data);
            }
            else {
                return 0;
            }
        }

        function OnErrorSaveCall() {
            return 0;

        }

    }
    function save(OrderId) {
        //if (SaveOrder() == 1) {
            var ItemList = new Array();
            $("#tblItemsBody .tblRow").each(function () {
                var itemModel = new Object();
                itemModel.id = $(this).find(".id").html();
                itemModel.name = $(this).find(".name").html();
                itemModel.description = "";
                itemModel.old_quantity = 0;
                itemModel.quantity = $(this).find(".quantity").html();
                itemModel.amount_per_unit = $(this).find(".price").html();
                itemModel.old_total_amount = 0;
                itemModel.total_amount = $(this).find(".total").html();
                ItemList.push(itemModel);
            });

            const button = document.getElementById('checkoutBtn');
            button.disabled = true;
            goSell.config({
                gateway: {
                    //publicKey: "pk_test_Vlk842B1EA7tDN5QbrfGjYzh",
                    publicKey: "pk_test_mrgWT9Hx0yRsIk5LJNVc478B",
                    //merchant_id: "1124340",
                    merchant_id: null,
                    language: "en",
                    contactInfo: false,
                    supportedCurrencies: "all",
                    supportedPaymentMethods: "all",
                    saveCardOption: true,
                    customerCards: true,
                    notifications: "standard",
                    callback: (response) => {
                        console.log("callback", response);
                    },
                    onClose: () => {
                        console.log("onclose hey");
                    },
                    onLoad: () => {
                        console.log("onLoad");
                        goSell.openLightBox();
                    },
                    style: {
                        base: {
                            color: "red",
                            lineHeight: "10px",
                            fontFamily: "sans-serif",
                            fontSmoothing: "antialiased",
                            fontSize: "10px",
                            "::placeholder": {
                                color: "rgba(0, 0, 0, 0.26)",
                                fontSize: "10px",
                            },
                        },
                        invalid: {
                            color: "red",
                            iconColor: "#fa755a ",
                        },
                    },
                },
                customer: {
                    first_name: document.getElementById('FName').value,
                    middle_name: "",
                    last_name: document.getElementById('LName').value,
                    email: document.getElementById('Email').value,
                    phone: {
                        country_code: "+971",
                        number: document.getElementById('Phone').value,
                    },
                },
                order: {
                    //amount: document.getElementById('amount').value,
                    amount: 1,
                    currency: "AED",
                    items: ItemList,
                },
                transaction: {
                    mode: "charge",
                    charge: {
                        auto: {
                            time: 100,
                            type: "VOID",
                        },
                        saveCard: false,
                        threeDSecure: true,
                        description: "description",
                        statement_descriptor: "statement_descriptor",
                        reference: {
                            transaction: "txn_0001",
                            order: OrderId,
                        },
                        metadata: {},
                        receipt: {
                            email: true,
                            sms: true,
                        },
                        redirect: "http://localhost:20196/Order/Payment",
                        post: null,
                    }
                },
            });
        //}
        //else {
        //    alert("Failed To Save Order");
        //}
    }
    </script>