@model EcommerceAdmin.Models.Entity.Ent_Order
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    List<EcommerceAdmin.Models.Entity.Ent_OrderDetail> OrderDetails = ViewBag.OrderDetails;
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home/Index">home</a></li>
                        <li>Track Order</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area mt-32">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tblCartBody">
                                    @foreach (var items in OrderDetails)
                                    {
                                        <tr id="@items.Product_ID" class="tblRow">
                                            <td class="product_thumb"><a href="#"><img src="../../ProductImages/@items.Product_Image" alt=""></a></td>
                                            <td class="product_name" productname="@items.Product_Name"><a href="#">@items.Product_Name</a></td>
                                            <td class="product-price" price="@items.Product_Price">AED @items.Product_Price</td>
                                            <td class="product_quantity">@items.Quantity</td>
                                            <td class="product_total">AED @items.Product_Total</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Amount</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Received</p>
                                    <p class="cart_amount">@(Model.Received_Date == null ? "Pending" : @Model.Received_Date)</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipped</p>
                                    <p class="cart_amount">@(Model.Shipped_Date == null ? "Pending" : @Model.Shipped_Date)</p>
                                </div>


                                <div class="cart_subtotal">
                                    <p>Delivered</p>
                                    <p class="cart_amount">@(Model.Delivered_Date == null ? "Pending" : @Model.Delivered_Date)</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Amount</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">AED @Model.Order_SubTotal</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount">AED @(Convert.ToDouble(Model.Order_Shipping) > 0 ? Model.Order_Shipping : 0)</p>
                                </div>


                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">AED @Model.Order_Total</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->
