@model EcommerceAdmin.Models.Entity.Ent_Order
@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    List<EcommerceAdmin.Models.Entity.Ent_OrderDetail> OrderDetails = ViewBag.OrderDetails;  
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Home/Index">home</a></li>                        
                        <li><a href="/Login/MyAccount">My Account</a></li>
                        <li>Order Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area mt-32">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tblCartBody">
                                    @foreach (var items in OrderDetails)
                                    {
                                    <tr id="@items.Product_ID" class="tblRow">                                     
                                        <td class="product_thumb"><a href="#"><img src="../../ProductImages/@items.Product_Image" alt=""></a></td>
                                        <td class="product_name" productname="@items.Product_Name"><a href="#">@items.Product_Name</a></td>
                                        <td class="product-price" price="@items.Product_Price">AED @items.Product_Price</td>
                                        <td class="product_quantity">@items.Quantity</td>
                                        <td class="product_total">AED @items.Product_Total</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>                     
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Amount</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Received</p>
                                    <p class="cart_amount">@(Model.Received_Date == null ? "Pending" : @Model.Received_Date)</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipped</p>
                                    <p class="cart_amount">@(Model.Shipped_Date == null ? "Pending" : @Model.Shipped_Date)</p>
                                </div>


                                <div class="cart_subtotal">
                                    <p>Delivered</p>
                                    <p class="cart_amount">@(Model.Delivered_Date == null ? "Pending" : @Model.Delivered_Date)</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Amount</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">AED @Model.Order_SubTotal</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount">AED @Model.Shipped_Date</p>
                                </div>
                           

                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">AED @Model.Order_Total</p>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->
<script>

    $(document).ready(function () {
        $('#btnUpdateCart').click(function () {
            var count = $('#tblCartBody tr').length;
            if (count > 0) {
                var CartList = new Array();
                $("#tblCartBody .tblRow").each(function () {
                    var ProductModel = new Object();
                    ProductModel.Product_ID = $(this).attr('id');
                    ProductModel.Product_Name = $(this).find(".product_name").attr('productname');
                    ProductModel.Quantity = $(this).find(".ProductQty").val();
                    ProductModel.Product_Image = $(this).find(".Product_Image").html();
                    ProductModel.Product_Price = $(this).find(".product-price").attr('price');
                    CartList.push(ProductModel);
                });

                $.ajax({
                    type: "POST",
                    url: "/Order/UpdateCart",
                    data: JSON.stringify({ "CartList": CartList }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    //beforeSend: function () { $("#loader").css("display", "block"); },
                    //complete: function () { $("#loader").css("display", "none"); },
                    success: OnSuccessSaveCall,
                    error: OnErrorSaveCall
                });

                function OnSuccessSaveCall(data) {
                    if (data > 0) {
                        location.reload();
                    }

                    else {
                        alert("Failed");
                    }
                }
                function OnErrorSaveCall() {
                    alert("Failed");
                }
            }
            else {
                alert("Cart Is Empty");
            }
        });


        $('.product_remove').click(function () {
            var row = $(this).closest('tr');
            var CartID = row.attr('id');
            $.ajax({
                type: 'POST',
                url: '/Order/DeleteCart',
                data: "{ 'CartID': '" + CartID + "' }",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    //$("#" + CartID).fadeOut("slow").remove();
                    location.reload();
                    //var div = document.getElementById(CartID);
                    //div.remove();
                    //$('.cart_quantity').html(data);
                }
            });
        });
    });

</script>
